services:
  # Database
  db:
    image: postgres:16-alpine
    container_name: file-share-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # API
  api:
    build: .
    container_name: file-share-api
    ports:
      - "8080:8080"
    environment:
      # This OVERRIDES the .env file value when running in Docker
      - DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable
    depends_on:
      - db

volumes:
  postgres_data: